@font-face {
  font-family: calc_font;
  src: url(digital-7.ttf);
}

* {
  box-sizing: border-box;
  color: white;
  font-family: calc_font;

}


.calculator-main {
  border: solid #91A6FF 1px;
  background-color: #564787;

  border-radius: 10px;
}

button {
  border-radius: 4px;
  cursor: pointer;
  background-color: #91A6FF;
}

button:hover {
  transition: 0.1s;

  opacity: 0.8;
}

button:active {
  opacity: 0.4;
}

.num-row {
  display: flex;
  gap: 20px;
  margin-bottom: 10px;
  justify-content: center;
}
.num-row button {
  padding: 20px 30px;
  border: solid black 1px;
  color: white;
  cursor: pointer;
  font-size: 20px;
  flex: 1;
}
.delete-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex: 1;

}

.delete-buttons button {
  width: 47%;
  font-size: 15px;
  padding: 15px 40px;
  margin-bottom: 20px;
  
}



.display {
  height: 64px;
  padding: 10px 20px;
}

.calculator-main {
  padding: 25px 25px;
}

.display {
  border: solid #91A6FF 1px;
  height: 115px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: end;


}

.calculator-outer {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}
.col-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.equation {
  margin-top: 10px;
  justify-self: start;
  font-size: 20px;
}

.answer {
  font-size: 35px;
  justify-self: center;
  margin-top: 25px;
}

.clear-button {
  background-color: #FF5154;
}

.delete-button {
  background-color: #00aeab;
}